.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.nav-logo img {
  height: 32px;
  width: auto;
  display: block;
}

.nav-link {
  position: relative;
  text-decoration: none;
  margin-left: 2rem;
}

.nav-link:first-child {
  margin-left: 0;
}
  
.nav-link.active {
  font-weight: bold;
}

.nav-underline {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--black);
}
