@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

::selection {
    background-color: var(--purple);
    color: var(--white)
}

:root {
    --font-primary: "DM Sans";
    --font-secondary: "DM Mono";

    /* set base values */
    --text-base-size: 1.05em;
    --text-scale-ratio: 1.3;

    /* type scale */
    --text-reg: calc(var(--text-base-size));
    --text-md: calc(1em * var(--text-scale-ratio));
    --text-lg: calc(1em * pow(var(--text-scale-ratio), 2));
    --text-xl: calc(1em * pow(var(--text-scale-ratio), 3));
    --text-xxl: calc(1em * pow(var(--text-scale-ratio), 4));
    --text-xxxl: calc(1em * pow(var(--text-scale-ratio), 5));
}

body {
    font-size: var(--text-base-size);
    font-family: var(--font-primary);
    color: var(--black);
    font-weight: 300;
    margin: 8px 0;
    line-height: 150%;
}

h1, h3, h4, h5, form legend {
    font-family: var(--font-primary);
    font-weight: 500;
}

/* text size */

h1 {
    font-size: var(--text-xxl);
    margin: 16px 0px;
    line-height: 1.1em;
}

h2 {
    /* font-family: var(--font-secondary); */
    font-size: var(--text-reg);
    /* text-transform: uppercase; */
    color: var(--grey);
    margin: 0;
    font-weight: 400;
}

h3 {
    font-size: var(--text-md);
    margin: 4px 0px 24px;
}

h4 {
    font-size: var(--text-reg);
    font-weight: 400;
    margin: 0;
}

h5 {
    font-size: var(--text-xl);
}

p {
    font-size: var(--text-reg);
    font-weight: 300;
    margin: 8px 0;
    line-height: 150%;
}